---
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Who from "~/components/who.astro";
import What from "~/components/what.astro";
import CTA from "~/components/cta.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Future technology demands new research methodologies.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Battersea Design Lab</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Battersea Design Lab" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- NOT IN USE  -->
    <!-- initialize theme -->
    <!-- <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script> -->
  </head>
  <body>
    <Header />
    <div class="content">
      <Who />
      <What />
      <CTA />
    </div>
    <!-- <Footer /> -->
  </body>
</html>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }

  .content {
    display: flex;
    max-width: 1200px;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
    padding: 1rem;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>