---
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import CTA from "~/components/cta.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Future technology demands new research methodologies.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Battersea Design Lab</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Battersea Design Lab" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- NOT IN USE  -->
    <!-- initialize theme -->
    <!-- <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script> -->
  </head>
  <body>
    <Header />
    <div class="content">
      <div class="intro">
        <h1>
          Who we are
        </h1>
        <p>
          We push human-computer interaction into the future, by focusing on new technologies and developing new methodologies to face the challenges of tomorrow.
        </p>
        <p>
          We’ve worked on using biomarkers as a form of non-verbal user feedback, social robots and AI as a form of administering user studies on a mass scale, and ‘toyification’ as a playful and natural approach to technology user studies
        </p>
        <h1>
          Projects
        </h1>
        <p>
          Our team has a wide range of experience and ongoing projects with research institutions and companies. You can read about some below. 
        </p>
      </div>

      <CTA />
    </div>
    <Footer />
  </body>
</html>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }

  .content {
    display: flex;
    max-width: 1200px;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
    padding: 1rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    border-radius: 2rem;
    max-width: 1000px;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.375rem;
  }

  p {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const footer = document.getElementById('footer');
    const contentHeight = document.querySelector('content').offsetHeight;
    const viewportHeight = window.innerHeight;

    if (contentHeight < viewportHeight) {
        footer.style.position = 'fixed';
        footer.style.bottom = '0';
    } else {
        footer.style.position = 'static';
    }
});
</script>